.App {
  text-align: center;
}
nav {
  background-color: rgb(39, 36, 36);
  justify-content: space-around;
  display: flex;
  min-height: 10vh;
  color: white;
}
.nav-links {
  list-style: none;
  justify-content: space-around;
  width: 40%;
  display: flex;
  align-items: center;
}
.nav-links ul {
  text-decoration: none;
}
